# Archivos de configuración con datos sensibles
configbot.json
users.json
secrets.json
*.env

# Archivo de persistencia del bot
bot_persistence.pickle
bot_persistence.json # <-- AÑADIR ESTA LÍNEA

# Archivos de log
*.log # <-- AÑADIR O MODIFICAR ESTA LÍNEA

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de entorno de Python
.venv/
venv/
