# Archivo de configuración con datos sensibles
configbot.json

# Archivo de persistencia del bot
bot_persistence.pickle

# Archivos de log
*.log

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de entorno de Python
.venv/
venv/
