{
  "telegram": {
    "token": "REMOVED_AND_SET_AS_ENVIRONMENT_VARIABLE",
    "chat_id": "898477137",
    "super_admin_id": "REMOVED_TO_USERS_JSON",
    "authorized_users": "REMOVED_TO_USERS_JSON",
    "enviar_reporte_periodico": false
  },
  "gemini_api": {
    "enabled": true,
    "api_key": "REMOVED_AND_SET_AS_ENVIRONMENT_VARIABLE",
    "flash_model": "gemini-1.5-flash-latest",
    "pro_model": "gemini-1.5-pro-latest"
  },
  "fail2ban_jails": [
    "sshd",
    "nginx-http-auth",
    "postfix"
  ],
  "log_monitoring": {
    "enabled": true,
    "check_interval_seconds": 60,
    "watched_logs": [
      {
        "alias": "auth",
        "patterns": [
          "Failed password for",
          "Accepted publickey for"
        ]
      },
      {
        "alias": "nginx_error",
        "patterns": [
          "\\b(error|crit|alert|emerg)\\b"
        ]
      }
    ]
  },
  "monitoring_thresholds": {
    "cpu_usage_percent": 90,
    "disk_usage_percent": 95,
    "check_interval_minutes": 5,
    "last_cpu_check": 0,
    "last_disk_check": 0,
    "last_update_check": 0,
    "update_check_interval_hours": 24
  },
  "image_directory": "~/telegram/imagenes",
  "file_directory": "~/telegram/ficheros",
  "scripts": {
    "sh_example1": {
      "path": "~/telegram/scripts/sh/example1.sh",
      "description": "Script de ejemplo 1 de shell.",
      "sha256_hash": "99cf6cfc721e39e1fff37e5238e075465b8f0334c0dd6689a8af007ca37308b5"
    },
    "sh_example2": {
      "path": "~/telegram/scripts/sh/example2.sh",
      "description": "Script de ejemplo 2 de shell.",
      "sha256_hash": "1fc2495d3b3473024c7e1bd43dd10686c01cb1aa018d174e8a08119365982d03"
    },
    "py_example1": {
      "path": "~/telegram/scripts/py/example1.py",
      "description": "Script de ejemplo 1 de Python.",
      "sha256_hash": "21ef3172dfba8cc06f3a8a1840461dee064f70b5e039ade50b5f876cc3c0a6e5"
    },
    "py_example2": {
      "path": "~/telegram/scripts/py/example2.py",
      "description": "Script de ejemplo 2 de Python.",
      "sha256_hash": "f15c1cb5d5d02dcf3d63b0b7a7a86fde32de43cf9a3dfab216b46ccd15dfdfc3"
    },
    "backup_web": {
      "path": "~/telegram/scripts/sh/backup/backup_web_full.sh",
      "description": "Realiza un respaldo completo de la web.",
      "sha256_hash": "016daa4c21bd82731cdf77863a534f699608ed2c692c9a258ca1edd3975f0221"
    },
    "backup_db": {
      "path": "~/telegram/scripts/sh/backup/backup_db_mysql.sh",
      "description": "Realiza un respaldo de la base de datos MySQL.",
      "sha256_hash": "2a8fda4f4d4d1c3bac3cb457fb44a57990f87d44d74f3461e632a9e302433c90"
    },
    "backup_docker": {
      "path": "~/telegram/scripts/sh/backup/backup_docker.sh",
      "description": "Realiza un respaldo de los volumenes de Docker.",
      "sha256_hash": "2a8fda4f4d4d1c3bac3cb457fb44a57990f87d44d74f3461e632a9e302433c90"
    },
    "backup_bot": {
      "path": "~/telegram/scripts/sh/backup/backup_bot.sh",
      "description": "Realiza un respaldo de los ficheros del propio bot.",
      "sha256_hash": "beff93cf6005dfd52ed693a624ca8588afb164d0cf245dfe63bfb08c1bbf085e"
    }
  },
  "servicios_permitidos": [
    "nginx",
    "telegram_bot",
    "mysql",
    "sshd",
    "postfix",
    "dovecot",
    "fail2ban"
  ],
  "docker_containers_allowed": [
    "my_web_app_container",
    "database_container",
    "another_service_container"
  ],
  "allowed_logs": {
    "auth": "/var/log/auth.log",
    "syslog": "/var/log/syslog",
    "kern": "/var/log/kern.log",
    "nginx_access": "/var/log/nginx/access.log",
    "nginx_error": "/var/log/nginx/error.log",
    "apache_access": "/var/log/apache2/access.log",
    "apache_error": "/var/log/apache2/error.log"
  },
  "servidores": [
    {
      "nombre": "YOUR SERVER",
      "host": "localhost",
      "chequeos": {
        "ping": true,
        "puertos": {
          "Web (HTTP)": 80,
          "Web (HTTPS)": 443,
          "SSH": 3511
        },
        "temperatura_cpu": {
          "umbral": 80
        },
        "uso_disco": {
          "/": {
            "umbral": 85
          },
          "/home": {
            "umbral": 90
          }
        },
        "carga_sistema": {
          "ram_umbral": 90,
          "cpu_load_umbral": 2.5
        }
      }
    },
    {
      "nombre": "YOUR WEB)",
      "host": "sabbat.cloud",
      "chequeos": {
        "ping": true,
        "puertos": {
          "Web (HTTPS)": 443
        },
        "certificado_ssl": {
          "puerto": 443,
          "dias_aviso": 30
        }
      }
    },
    {
      "nombre": "OTHER WEB",
      "host": "google.com",
      "chequeos": {
        "ping": true,
        "puertos": {
          "Web (HTTPS)": 443
        },
        "certificado_ssl": {
          "puerto": 443,
          "dias_aviso": 30
        }
      }
    }
  ]
}
