{
    "telegram": {
    "token": "YOUR BOT TOKEN",
    "chat_id": "YOUR CHAT ID ex: 12345678 NO @NICKNAME",
    "super_admin_id": 12345678,
    "authorized_users": [
      123456789,
      987654321
    ],
    "enviar_reporte_periodico": false
  },
  "gemini_api": {
	  "enabled": true,
	  "api_key": "YOUR GEMINI API KEY",
	  "flash_model": "gemini-1.5-flash-latest",
	  "pro_model": "gemini-1.5-pro-latest"
  },
  "image_directory": "~/telegram-admin-bot/imagenes",
  "file_directory": "~/telegram-admin-bot/ficheros",
  "scripts_permitidos": {
    "example1": "~/telegram-admin-bot/scripts/sh/example1.sh",
    "example2": "~/telegram-admin-bot/scripts/sh/example2.sh"
  },
  "python_scripts_permitidos": {
    "example1": "~/telegram-admin-bot/scripts/py/example1.py",
    "example2": "~/telegram-admin-bot/scripts/py/example2.py"
  },
  "servicios_permitidos": [
    "nginx",
    "telegram-admin-bot",
    "mysql",
    "sshd",
    "postfix",
    "dovecot",
    "fail2ban"
  ],
  "docker_containers_allowed": [
    "my_web_app_container",
    "database_container",
    "another_service_container"
  ],
  "allowed_logs": {
    "auth": "/var/log/auth.log",
    "syslog": "/var/log/syslog",
    "kern": "/var/log/kern.log",
    "nginx_access": "/var/log/nginx/access.log",
    "nginx_error": "/var/log/nginx/error.log",
    "apache_access": "/var/log/apache2/access.log",
    "apache_error": "/var/log/apache2/error.log"
  },
  "monitoring_thresholds": {
    "cpu_usage_percent": 90,
    "disk_usage_percent": 95,
    "check_interval_minutes": 5,
    "last_cpu_check": 0,
    "last_disk_check": 0,
    "last_update_check": 0,
    "update_check_interval_hours": 24
  },
  "servidores": [
    {
      "nombre": "server host",
      "host": "localhost",
      "chequeos": {
        "ping": true,
        "puertos": {
          "Web (HTTP)": 80,
          "Web (HTTPS)": 443,
          "SSH": 3511
        },
        "temperatura_cpu": {
          "umbral": 80
        },
        "uso_disco": {
          "/": {
            "umbral": 85
          },
          "/home": {
            "umbral": 90
          }
        },
        "carga_sistema": {
          "ram_umbral": 90,
          "cpu_load_umbral": 2.5
        }
      }
    },
    {
      "nombre": "Website example1",
      "host": "sabbat.cloud",
      "chequeos": {
        "ping": true,
        "puertos": {
          "Web (HTTPS)": 443
        },
        "certificado_ssl": {
          "puerto": 443,
          "dias_aviso": 30
        }
      }
    },
    {
      "nombre": "Website example2",
      "host": "google.es",
      "chequeos": {
        "ping": true,
        "puertos": {
          "Web (HTTPS)": 443
        },
        "certificado_ssl": {
          "puerto": 443,
          "dias_aviso": 30
        }
      }
    }
  ]
}
